.background-image {
    background-image: url('/static/images/chick.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Adjust the height as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    color: black;
    font-weight: bold; /* Bold font */
    font-size: 20px; /* Font size */
}


.background-image a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
}
